@import('normalize.css');

body {
    background: #000000;
    height: 100%;
    margin: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
    font-family: 'Noto Sans', Helvetica, sans-serif;
}

video {
    height: 100%;
    width: 100%;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}

.permalink {
    position: absolute;
    bottom: 0;
    background-color: #000;
    opacity: 0.5;
    transition: background 200ms;
}

.permalink:hover {
    background-color: #fff;
    opacity: 0.5;
}

.permalink a {
    display: block;
    padding: 5px 10px;
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
    text-decoration: none;
    transition: background 200ms;
}

.permalink:hover a {
    color: #444;
}