@import('normalize.css');

body {
    background: #000000;
    height: 100%;
    margin: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
    font-family: 'Noto Sans', Helvetica, sans-serif;
}

video {
    height: 100%;
    width: 100%;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}

.links {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25px;
    background-color: #000;
}

.links a {
    display: inline-block;
    padding: 5px 10px;
    color: #fff;
    font-size: 10px;
    text-decoration: none;
    background-color: #000;
    opacity: 0.5;
    transition: background 200ms;
}

.links a:hover {
    background-color: #fff;
    opacity: 0.5;
    color: #444;
}